/* Responsive layout - makes a one column-layout instead of two-column layout */
@media only screen and (max-width: 572px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
        width: 100%
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-item-left {
        width: 100%;
    }

    .flex-item-right {
        width: 100%;
    }

    .flex-item-left > table {
        width: 100%;
    }

    .flex-item-right > table {
        width: 100% !important;
    }
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
/*@media (max-width: 570px) {
    .flex-container {
        flex-direction: column;
    }
}*/